body {
	margin: 0;
	padding: 0;
	background-image: linear-gradient(rgb(228, 1, 198), rgb(255, 0, 0));
}
/*---Tic Tac Toe Board Style----*/
ul{
	margin :0px;
}
li{
	height: 120px;
	width: 120px;
	text-align: center;
	vertical-align: middle;
	font-size: 90px;
	cursor: pointer;
	background-color:white;
	border-radius:5px;
	transition: all 0.3s ;
	margin:8px;
	display:inline-block;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	padding-bottom:24px;
}
li:hover{
	height:140px;
	width:140px;
	margin:0px;

}

/*----Header style----*/
table {
	margin: 0px 0px 20px 40px;

	width:400px;
	background-color: rgba(0,0,0, 0.2);
	color:white;
	border-radius:5px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)

}
td{
	padding:10px 0px 0px 0px;
	font-weight: 500;
}
/*----Styles that Preetam created-----*/
.jumbotron {
	background-image: linear-gradient(to left, #eecda3, #ef629f);
	border: 1px solid #cc2b5e;
	border-radius: 20px;
	margin-top: 8px;
}
.jumbotron:hover {
	background-image: linear-gradient(to left, #eecda3, #ef629f);
	border: 1px solid #cc2b5e;
	box-shadow: 5px 5px 4px #888888;
}
.card {
	background-image: linear-gradient(to left, #eecda3, #ef629f);
	border: 1px solid #cc2b5e;
	border-radius: 20px;
	margin-top: 8px;
}
.card:hover {
	background-image: linear-gradient(to left, #eecda3, #ef629f);
	border: 1px solid #cc2b5e;
	box-shadow: 5px 5px 4px #888888;
}
/*table tr:first-child td {
	border-top: 0;
}
table tr:last-child td {
	border-bottom: 0;
}
table tr td:first-child {
	border-left: 0;
}
table tr td:last-child {
	border-right: 0;
}*/
.foot {
	padding-top: 70px;
	margin-bottom: 10px;
}